@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.context-menu {
  animation: 0.3s ease-out 0s 1 appearing;
  position: fixed;
  width: 200px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  box-shadow: 0 0 10px 0px #818181;
  border-radius: 5px;
  background-color: white;
}

.context-menu .context-menu__item {
  color: rgb(121, 120, 120);
  padding: 4px 30px;
}

.context-menu .context-menu__item:not(:first-child) {
  border-top: 1px solid #deede6;
}

.context-menu .context-menu__item:hover {
  background-color: #deede6;
  cursor: pointer;
}

#c-m-open {
  font-weight: 900;
}
